.GRID{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: blue;
}

body{
    background-color: salmon;
}
.GREEN{
    border-radius: 6px;
    margin: 50px;
    background-color: green;
    color: black;
    text-align: center;
    padding: 10px;
}
.MAR{
    margin: 20px;
}