.Msg{
    font-size: larger;
    color: white;
    text-align: center;
}
body{
    height: 100%;
}
a{
    text-decoration: none;
}

.Button{
    
    background-color: greenyellow;
    font-size: medium;
    color: black;
    text-align: center;
    padding: 20px;
    margin: 40px;

}
.Flex{
    
    background-color: salmon;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:  center;

    
}
.Button:hover{
    border-radius: 26px;
    
}